In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import altair as alt

In [2]:
data = pd.read_csv('./viirs-snpp_2018_United_States_dayofyear.csv')
data.tail()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type,dayofyear
552118,36.496708,-119.602585,345.06,0.60,0.53,2018-12-31,2136,N,VIIRS,n,1,287.59,18.91,D,0,365
552119,42.847439,-124.086708,334.68,0.41,0.45,2018-12-31,2137,N,VIIRS,n,1,278.48,6.84,D,0,365
552120,42.847839,-124.082092,336.93,0.41,0.45,2018-12-31,2137,N,VIIRS,n,1,276.68,6.84,D,0,365
552121,42.846310,-124.085411,337.47,0.41,0.45,2018-12-31,2137,N,VIIRS,n,1,279.79,5.62,D,0,365
552122,47.348656,-120.311203,326.13,0.35,0.56,2018-12-31,2139,N,VIIRS,n,1,274.00,2.00,D,0,365

In [3]:
data[['acq_yr', 'acq_mo', 'acq_day']] = data.acq_date.str.split('-',expand=True)

In [4]:
data.head(15)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type,dayofyear,acq_yr,acq_mo,acq_day
0,41.467583,-83.365883,321.32,0.43,0.38,2018-01-01,716,N,VIIRS,n,1,261.53,2.89,N,2,1,2018,01,01
1,40.395264,-79.857147,329.87,0.39,0.36,2018-01-01,716,N,VIIRS,n,1,261.97,3.85,N,2,1,2018,01,01
2,41.660519,-87.424576,297.55,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,257.88,1.38,N,3,1,2018,01,01
3,41.638611,-87.144012,321.14,0.41,0.45,2018-01-01,716,N,VIIRS,n,1,260.90,4.35,N,3,1,2018,01,01
4,41.681416,-87.421059,298.91,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,261.50,0.89,N,3,1,2018,01,01
5,41.629936,-87.368073,308.96,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,264.66,2.58,N,3,1,2018,01,01
6,41.664700,-87.423859,300.94,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,257.10,2.11,N,3,1,2018,01,01
7,41.641960,-87.407120,318.89,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,267.61,2.55,N,3,1,2018,01,01
8,40.755932,-81.433746,325.34,0.39,0.36,2018-01-01,716,N,VIIRS,n,1,256.88,2.46,N,2,1,2018,01,01
9,41.462265,-81.672531,329.72,0.39,0.36,2018-01-01,716,N,VIIRS,n,1,260.85,4.51,N,2,1,2018,01,01
10,41.462948,-81.677238,336.54,0.39,0.36,2018-01-01,716,N,VIIRS,n,1,261.53,6.79,N,2,1,2018,01,01
11,41.672626,-87.463921,317.41,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,256.04,2.08,N,3,1,2018,01,01
12,41.667034,-87.449287,319.61,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,258.23,2.18,N,3,1,2018,01,01
13,41.672157,-87.458794,305.62,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,254.24,2.01,N,3,1,2018,01,01
14,41.678177,-87.431931,306.59,0.42,0.45,2018-01-01,716,N,VIIRS,n,1,257.77,4.16,N,3,1,2018,01,01

In [5]:
data.shape

(552123, 19)

In [6]:
new_list=list(data['acq_mo'].unique())
new_list

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [7]:
frpmmonth_dic = {}
for month in new_list:
    mo_totaldf = data[data['acq_mo'] == month]
    frp_totals = mo_totaldf['frp'].sum()
    frpmmonth_dic[month] = round(frp_totals)

frp_df = pd.DataFrame.from_dict(frpmmonth_dic, orient='index')
frp_df.reset_index(inplace=True)
frp_df.columns=['month_num', 'FRP_total']
frp_df['month'] = ['January', 'February', 'March', 'April', 'May',
                  'June', 'July', 'August', 'September', 'October',
                  'November', 'December']
frp_df

   month_num  FRP_total      month
0         01     203127    January
1         02     132800   February
2         03     421963      March
3         04     485338      April
4         05     399383        May
5         06    1508263       June
6         07    2100449       July
7         08    2078148     August
8         09     850458  September
9         10     214008    October
10        11     309245   November
11        12      63688   December

In [10]:
frp_df.to_csv('./frp_bymonth2018.csv', index=False)

In [8]:
list(frp_df['month'])

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [9]:
percent_chart = alt.Chart(frp_df).mark_bar(color='black').encode(
    alt.X('month:O', sort=list(frp_df['month']),
          axis=alt.Axis(
            title = 'Month in 2018',
            titleFontSize=16,
            labelAngle=-45)),
    alt.Y('FRP_total:Q',
          axis=alt.Axis(
            title='Total Fire Radiative power',
            titleFontSize=16,
            grid=False,
            tickCount=4,
            orient='left'))
).properties(width=400, height=400)

percent_chart

alt.Chart(...)